.cartItemInfo {
  display: flex;
  align-items: center;
  min-width: 400px;

  @media (max-width: 768px) {
    grid-area: 1 / 1 / 3 / 2;
    min-width: 0;
  }

  @media (max-width: 480px) {
    grid-area: 1 / 1 / 2 / 4;
  }
  img {
    max-width: 80px;
  }
}

.namePizza {
  margin-left: 16px;
  @media (max-width: 940px) {
    max-width: 220px;
  }
}

.countBlock {
  display: flex;
  align-items: center;

  @media (max-width: 768px) {
    grid-area: 2 / 2 / 3 / 3;
    justify-self: end;
  }

  @media (max-width: 480px) {
    grid-area: 2 / 1 / 3 / 2;
  }

  h2 {
    margin: 0px 12px;
  }
}

.price {
  @media (max-width: 768px) {
    grid-area: 1 / 2 / 2 / 3;
    justify-self: end;
    margin-right: 20px;
  }

  @media (max-width: 480px) {
    grid-area: 2 / 2 / 3 / 3;
    margin-right: 0px;
  }
}
